html {
    background-color: white !important;
}

body {
    margin-top: 10px !important;
    margin-left: 10px !important;
    background-color: white !important;
}

#site-header {
    background: #00ff00 !important;   
}

#smartphone-promo,
section.secondary,
div.container,
div.game-toolbar,
div.game-embed-wrapper > header.game,
div.game-embed-wrapper > header.social,
nav#pool-menu-after
{
    display: none;
}

div#site-container {
    padding-top: 0px !important;
    background-color: white !important;
    background-image: none !important;
    border: 0px !important;
    height: 768px;
    margin-bottom: 10px;
}

div#game-content {
    margin: 0px !important;
    width: 1154px !important;
}

section#game-container {
    border: 0px;
    margin-right: 0px !important;
}

div#game-embed {
    width: 1154px !important;
}

div#canvas-container {
    width: 1050px;
}

/*
    1154
    768

    901.56
    600
*/
